<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Noise Maker</title>
</head>
<body>
    <h1>Input Noise Maker Name</h1>
    <form action="/add" method="POST">
        <input type="text" name="name" required>
        <button type="submit">Add Noise Maker</button>
    </form>
    <br>
    <!-- <a href="/display">Go to Display Page</a> -->
</body>
</html>
